* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'ZCOOL XiaoWei', serif;
	font-family: 'Dancing Script', cursive;
	font-family: 'Cairo', sans-serif;
}
.menu {
	font-size: 18px;
	padding: 10px;
	color: #000;
}
.menu: hover {
	color: #CD5C5C;
	font-weight: bold;
}
header {
	display: flex;
	justify-content: space-between;
}
main {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}
.home-logo {
	width: 5vw;
	height: 8vh;
	padding: 3px;
	margin-top: 4px;
	margin-left: 4px;
}
.containerOne{
	width: 80vw;
	height: 60vh;
	display: flex;
	align-content: center;
	justify-content: center;
}
.containerTwo{
	width: 35vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px;
}
.title {
	width: 100%;
	height: auto;
	font-family: 'Dancing Script', cursive;
	font-size: 10em;
	font-weight: 700;
	color: #000;
	background-image: url(assets/newyork.gif);
	background-size: cover;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 60px;
}
.subtitle {
	font-family: 'ZCOOL XiaoWei', serif;
	font-size:25px;
	color: #5F9EA0;
	line-height: 23px;
}
.block_text {
	width: 100%;
	margin-top: 30px;
}
.text {
	font-family: 'Cairo', sans-serif;
	font-size: 18px;
	line-height: 25px;
	margin-top: 120px;
	margin: 0;
}
.profile-image {
	width: 280px;
	height: 280px;
	display: flex;
	align-self: center;
	margin-left: 50px;
	margin-top: 60px;
	border-radius: 100%;
	border: 1px solid #FA8072;
}
.social-network {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 180px;
	margin-left: 5px;
}
.social-image {
	width: 19px;
	height: 19px;
}
footer {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
@media (max-width: 500px) {
	body {
		background-color: #fff;
	}
	header {
		width: 100%;
	}
	main {
	width: 100%;
	}
	.home-logo {
	width: 7vw;
	height: 5vh;
	padding: 2px;
	margin-top: 7px;
	margin-left: 7px;
	}
	.menu {
		margin-right: 50px;
	}
	.title {
		width: 210%;
		font-size: 5em;
		text-align: center;
	}
	.subtitle {
		width: 200%;
		font-size: 19px;
		margin-left: 25px; 
	}
	.containerOne {
		width: 80vw;
		height: 40vh;
	}
	.containerTwo {
		width: 35vw;
	}
	.block_text {
		width: 240%;
		display: flex;
		margin-left: 15px;
		flex-direction: column;
	}
	.profile-image {
		width: 10em;
		height: 10em;
		margin-top: 540px;
		border-radius: 100%;
		border: 1px solid #FA8072;
	}
	.social-network {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 25px;
	margin-left: 1px;
	}
	.social-image {
		width: 19px;
		height: 19px;
	}
	footer {
		margin-top: 215px;
	}
}